.accordion details {
  border: 1px solid #dadada;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 8px;
}

.accordion details p {
  margin-bottom: 0.8em;
}

.accordion details summary.accordion-item-label {
  background: #23232f;
  color: #fff;
}

.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::before,
.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 22px;
  background-color: currentcolor;
  transition: transform 0.2s;
}

.accordion details summary::before {
  width: 12px;
  height: 2px;
  transform: translate(50%, -50%);
}

.accordion details summary::after {
  transform: translate(-50%, -50%);
}

.accordion details[open] summary::after {
  transform: translate(-50%, -50%) scaleY(0);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid #dadada;
}